.project-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}


.project-img-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

}


.project-container:hover .arrow-left,
.project-container:hover .arrow-right {
  opacity: 1;
  transition: opacity 0.3s ease-in-out; /* Corrección de la sintaxis */
}


.project-img-container img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  /* Ajusta la imagen dentro del contenedor sin distorsionarla */
}



.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.video-container video {
  width: 100%;
  height: 100vh;
  object-fit: cover; /* Ajusta esto según tus necesidades de diseño */
}



.middle-slide .slider-project {
  cursor: default; 
}

.right-slide, .left-slide {
  cursor: pointer;

}



.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(10px); /* Ajusta el valor de blur según sea necesario */
}
