* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;


}

@font-face {
    font-family: "machina";
    src: url(/public/fonts/PPNeueMachina-InktrapRegular.otf);
    font-display: swap;
}

@font-face {
    font-family: "montreal";
    src: url(/public/fonts/NeueMontreal-Regular.otf);
    font-display: swap;
}


@font-face {
    font-family: "montreal-medium";
    src: url(/public/fonts/NeueMontreal-Medium.otf);
    font-display: swap;
}


body{
    background-color: #E6E7E8;
}
h1 {
    font-family: machina;
    font-size: 4rem;
}

h2{
    font-family: machina;
    font-size: 3rem;
}

h3{
    font-family: machina;
    font-size: 2.8rem;
    font-weight: 200;
}

h4{
    font-family: machina;
    font-size: 1.4rem;
    font-weight: 200; 
}

a {
    font-family: machina;
    font-size: 4rem;
    text-decoration: none !important;
}

p{
font-family: machina;
font-size: 1.4rem;
}

.black{
    color: black;
}
.orange{
    color: #E3570D;
}
.blue{
    background-color: #01239A ;
}
li{
    list-style: none;
    font-size: 1.8rem;
    font-family: machina;
    margin: 0 2.5rem;
    font-style: italic;
}

