.arrow-left, .arrow-right{
    position: absolute;
    bottom: 50%; /* Ajusta la distancia desde la parte inferior */
    left: 5%; /* La mitad del ancho del contenedor, para centrarlo horizontalmente */
    transform: translateX(-50%); /* Centra el contenedor horizontalmente */
    z-index: 1;
    // display: none;
    display: flex;
    align-items: center;
    justify-content: center;
opacity: 0;

    img{
width: 5rem;
    }
}

.arrow-right{
    left: 95%;

}
