.arrow-left,
.arrow-right {
    position: absolute;
    bottom: 10%;
    left: 5%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    top: 10%;
    mix-blend-mode: difference;

}

.arrow-right {
    left: 95%;

}


@media (max-width: 750px) {
    .arrow-right {
        left: 85%;
    }

    .arrow-left {
        left: 15%;
    }
}

@media (max-width: 564px) {
    // .arrow-right {
    //     width: 40rem;
    // }

    // .arrow-left {
    //     width: 40rem;
    // }
}