.item-detail-container{
    overflow: hidden;
    background-color: black;

}

.item-detail-container:hover{
    .arrow-left, .arrow-right{
        opacity: 1;
    }
}

.slider-project-item{
.slick-track{
    display: flex;
}
}