#more-switch {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #E6E7E8;
    position: relative;

}

.more-select,
.more-slider {
    height: 100vh;
    width: 100%;
}

.more-slider:hover .arrow-left,
.more-slider:hover .arrow-right {
    opacity: 1 !important;
    transition: opacity 0.3s ease-in-out;
    /* Corrección de la sintaxis */
}

.more-slider {

    cursor: pointer;

    .slider-bottom {
        position: relative;
        position: absolute;
        height: 100vh;
        width: 100%;
        overflow: hidden;

        .slider-item {
            height: 100vh;
            width: 100%;
            position: relative;

            img {
                width: 100%;
                height: 100%;
            }

            .more-hover-content {
                position: absolute;
                bottom: 0;
                width: 100%;
                text-align: center;
                display: none;
                background-color: rgba(0, 0, 0, 0.6);
                padding: 10px;
                transition: 0.3s ease;
            }

            &:hover .more-hover-content {
                display: block;
            }
        }
    }
}

.more-select {
    display: flex;
    align-items: center;
}

.more-span {
    display: none;
    margin-right: 0.5rem;
    font-size: 3rem;
}

.more-buttons {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 2%;
    margin-top: 1rem;

    p {
        margin: 1rem 0;
        font-family: montreal-medium;
    }

    .p1 {
        font-weight: 600;
        margin-top: 6rem;
    }

    ul {
        margin-top: 2rem;
    }

    li {
        display: flex;
        justify-content: start;
        margin: 1rem 0;
        width: 10rem;
        font-size: 3rem;
        text-decoration: none;
        color: black;
        font-style: normal;

        &:hover {
            color: #E3570D;
            transform: scale(1.2);

            .more-span {
                display: inherit;
            }
        }
    }
}

.more-first {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh !important;

    img {
        width: 100%;
    }
}

.more-h3 {
    color: white;
}

.more-p {
    color: white !important;
}


@media (max-width: 991px) {
    .more-p-container {
        display: none;
    }

    .more-buttons {
        align-items: center;
        padding-top: 8rem;
    }

    .more-first {
        display: none;
    }
}