#equipo {
    height: 100vh !important;
    display: flex;
    align-items: center !important;



    .row {
        padding-left: 3%;
    }

    h2 {
        font-family: montreal-medium;
        font-size: 4rem;
        margin-bottom: 4rem;
        margin-top: 2.5rem;
    }


}



.equipo {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.equipo-select{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.equipo-select:hover{
    img{
        translate: 2px;
    }
}

.container-title-cargo {
    display: flex;
    flex-direction: column;
}

.member-span {
    font-family: machina;
    margin-right: 1rem;
}

.equipo-h3 {
    font-family: machina;
    font-size: 2.5rem !important;
    font-style: normal;
}

.equipo {
    li:hover {
        h3, h4 {
            color: #E3570D;
            cursor: pointer;
        }
    }

    .member-span {
        translate: 0.2rem;
    }


    li {
        margin: 1rem 0;

        div {
            display: flex;
            align-items: center;
        }

        .equipo-description {
            margin-top: 1rem;
        }

        img {
            margin-right: 1rem;
        }
    }

    .equipo-person-img {
        display: none;
    }


    .selected-member .equipo-person-img {
        display: inherit;
        transition: 3s ease-in-out;
    }

    .selected-member h3 {
        color: #E3570D;
    }


}

@media (max-width: 1200px) {
    #equipo{
        height: auto !important;
    }
}