@keyframes fadeIn {
    from {
        opacity: 0;
        max-height: 0;
    }
    to {
        opacity: 1;
        max-height: 1000px;
    }
}

@keyframes slideIn {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(2px);
    }
}

#equipo {
    height: 100vh !important;
    display: flex;
    align-items: center !important;
    justify-content: center;

    .row {
        padding-left: 3%;
        display: flex;
        align-items: center;
    }

    h2 {
        font-family: montreal-medium;
        font-size: 4rem;
        margin-top: 5rem;
    }
}

.equipo {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
}

.equipo-select {
    width: 25rem;
    transition: transform 1s ease; /* Ajustar la duración de la transición */
    text-align: start;
}

.equipo-select:hover {
    animation: slideIn 1s ease; /* Aplicar animación keyframe al hacer hover */
}

.equipo-subtitle {
    display: flex;
    flex-direction: column;

    h3,
    h4 {
        font-style: normal;
    }

    h3 {
        font-size: 1.8rem;
    }
}

.equipo li {
    margin: 0.5rem 0;
    width: 25rem;
    transition: width 1s ease; /* Ajustar la duración de la transición al cambiar el tamaño */
    cursor: pointer;

    div {
        display: flex;
        align-items: center;
    }

    .equipo-description {
        margin-top: 1rem;
        opacity: 0;
        animation: fadeIn 1s ease; /* Aplicar animación keyframe a la descripción */
        max-height: 0;
        overflow: hidden;

        p {
            font-style: normal;
            font-size: 1.3rem !important;
        }
    }

    img {
        margin-right: 1rem;
    }
}

.equipo li:hover {
    width: 32rem; /* Ajustar tamaño al hacer hover */
    .equipo-description {
        opacity: 1;
        max-height: 1000px; /* Valor suficientemente grande */
    }
}

.equipo .equipo-person-img {
    display: none;
    width: 8rem;
    transition: display 1s ease; /* Ajustar la duración de la transición al cambiar la propiedad de visualización */
}

.equipo .selected-member .equipo-person-img {
    display: inherit;
}
.equipo .selected-member h3 {
    color: #E3570D;
}

.grafico-container {
    canvas {
        margin-top: 20rem;
    }
}

@media (max-width: 1200px) {
    #equipo {
        height: auto !important;
    }

    .equipo{
        align-items: center;
        justify-content: center;
    }


    .equipo-grafic-container{
        display: none;
    }
}

.equipo li.selected-member .equipo-description {
    display: block;
    opacity: 1;
    max-height: 1000px; /* Valor suficientemente grande */
}

.equipo li.selected-member .equipo-person-img {
    display: inherit;
}
