@keyframes slideIn {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}



.modal-entered {
    animation: slideIn 0.3s ease-in-out;
    opacity: 1;
}

.what-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.558) !important;
    border: none;


    .what-menu {
        display: flex;
        flex-direction: column;
        align-items: center;



        li {
            a {
                text-decoration: none;
                color: white;
                font-style: normal;

            }
        }

        li:hover {
            a {
                color: #E3570D;
            }

            .what-span {
                display: inherit;
            }
        }
    }

    .what-close-button {
        border: none;
        background-color: transparent;
        color: white;
        font-family: machina;
        font-size: 4rem;
        padding: 0;
        margin-top: 7rem;
        margin-left: 2rem;
        display: flex;
        justify-content: center;
    }

    .what-close-button:hover {
        color: #E3570D;
    }

    .what-span {
        display: none;
        margin: 0 1rem;
    }

    .what-redes {
        display: flex;
        justify-content: center;
        margin-top: 3rem;

        a {
            margin: 0rem 1rem;
            img{
                width: 5rem;
            }
        }
    }

}

@media (max-width: 730px) {
    .what-box{
        width: 100% !important;
    }
    .what-menu {
        li {
            a {
                font-size: 3.5rem; 
            }
        }
    }
    .what-close-button{
        font-size: 3.5rem !important;
    }

    .what-box{
width: 40rem !important;
    }

    .what-redes{
        a{
            img{
                width: 3.5rem !important;
            }
        }
    }

}

@media (min-width: 601px) {
    .what-box {
      width: 100% !important;
    }
  }

  
@media (max-width: 450px) {
    .what-box{
        width: 30rem !important;
    }
    .what-menu {
        li {
            a {
                font-size: 3rem; 
            }
        }
    }
    .what-close-button{
        font-size: 3rem !important;
    }
    .what-redes{
        a{
            img{
                width: 3rem !important;
            }
        }
    }

}