#about-description {
    position: relative;
    width: 100%;
    height: 100vh !important;
    display: flex;
    align-items: center;
    scroll-snap-align: start;



    .row {
        display: flex;
        justify-content: center;
        align-items: start;
        margin-top: 3rem;
        padding-left: 3%;

        .about-grafic {
            display: flex;
            justify-content: center;
        }

        .about-description-text {
            margin-bottom: 5rem;
        }

        .about-description-a {
            font-size: 2rem;
            font-style: italic;
            color: #E3570D;
            margin-top: 6rem;
        }

        p {
            margin: 2.5rem 0;
        }

        .about-p {
            font-size: 2rem;
            font-weight: 600;
        }

        .about-p3 {
            margin-bottom: 6rem;
        }

        img {
            max-width: 55rem;
        }

    }

}


@media (max-width: 1200px) {

    .about-description{
        display: flex;
        justify-content: center;
    }

    .about-grafic{
        display: none !important;
    }
}

@media (max-width: 900px) {

}