.fondo-change{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    background-image: url(images/Slider/1.png);
    width: 100%;
ol{
    width: 100%;
}
}