.abstract {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

}


.abstract:hover .hover-content {
  opacity: 1;
}


.abstract-h2 {
  color: white;
  font-size: 4rem;
  font-family: machina;
  margin-top: 4rem;
}

.abstract-p {
  color: white;
  margin: 3rem 0;
  padding: 0 3rem;
  font-size: 1.2rem;
}

.abstract-menu {
  display: flex;
  justify-content: center;
  margin-left: 4rem;
  margin-top: 1rem;

  .abstract-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;

    h4 {
      text-align: center;
      color: white;
      margin-top: 1rem;
      font-size: 1.3rem;
    }
  }
}

.abstract-a1,
.abstract-a2,
.abstract-a3 {
  h4 {
    text-align: center;
  }
}

.abstract-a1 img,
.abstract-a2 img,
.abstract-a3 img {
  height: 3rem;
  width: auto;

}

.Toastify__toast-container {
  z-index: 1111;
  /* Establece el z-index deseado */
}




.last-favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  background-size: cover;
  position: relative;

}

.shadow-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.538);
}

.hover-content {
  text-align: center;
  position: relative;
  margin: 0.5rem 0;

}


.link-proyecto-completo h4 {
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.link-proyecto-completo:hover h4 {
  transform: scale(1.2);
  color: orange;
}

@media (max-width: 750px) {
  .abstract-box {
    width: 40rem !important;

  }

  .abstract {

    h2 {
      font-size: 3rem;
    }

    p {
      font-size: 1.1rem;
      margin: 1.5rem 0;
    }
  }

  .abstract-menu {
    .abstract-item{
        margin: 0 0.7rem !important;
    }
  
    margin: 0 !important;

    .abstract-a1,
    .abstract-a2,
    .abstract-a3,
    .abstract-a4 {
      img {
        height: 2rem;
      }


    }

    h4 {
      font-size: 1.2rem !important;
      margin: 0 !important;
    }
  }


}

@media (max-width: 460px) {
  .abstract-box {
    width: 33rem !important;
  }

  .abstract {
    transition: none;

    h2 {
      font-size: 2.3rem;
    }

    p {
      font-size: 1rem;
      width: 30rem;
    }
  }

  .abstract-menu {
    .abstract-item{
        margin: 0 0.7rem !important;
    }
  
    margin: 0 !important;

    .abstract-a1,
    .abstract-a2,
    .abstract-a3,
    .abstract-a4 {
      img {
        height: 1.8rem;
      }


    }

    h4 {
      font-size: 1rem !important;
    }
  }


}

@media (max-width: 370px) {
  .abstract-box {
    width: 28rem !important;
  }

  .abstract {
    transition: none;

    h2 {
      font-size: 2.1rem;
    }

    p {
      font-size: 0.9rem;
      width: 30rem;
    }
  }

}