#clientes{
    scroll-snap-align: start;
}

.clientes-container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.clientes-container::-webkit-scrollbar {
    width: 0em; 
  }
  

.cliente {
    width: 100%;
    height: 100vh;
    position: relative;
    scroll-snap-align: start;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;

    img{
        width: 100%;
        height: 100%;
    }
}

.image-container img {
    width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto */
  }

.image-container h3 {
    font-family: montreal-medium;
    font-size: 6rem;
    position: absolute;
    bottom: 50%; /* Lo coloca en el centro vertical */
    left: 50%; /* Lo coloca en el centro horizontal */
    transform: translate(-50%, 50%); /* Centra el texto en el contenedor */
    color: white;
    padding: 10px;
    opacity: 0; /* Inicialmente transparente */
    transition: opacity 0.5s ease; /* Agrega una transición suave para la opacidad */
}

.image-container:hover h3 {
    opacity: 1; /* Muestra el h3 cuando se hace hover sobre la imagen */
}
