.top-left-button,
.top-right-button,
.bottom-left-button,
.bottom-right-button {
  position: absolute;
  font-size: 3.4rem;
  height: auto;
  width: auto;
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: none;
  z-index: 1111111111 !important;
  mix-blend-mode: difference;
}

.top-left-button{
  mix-blend-mode: difference;
}


.project-bottom-right-button,
.project-top-right-button {
  position: absolute;
  font-size: 3.4rem;
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1;
  mix-blend-mode: difference;
}

  .project-top-right-button {
  top: 10px;
  right: 10px;
}



.project-bottom-right-button {
  bottom: 10px;
  right: 10px;
}



.top-left-button {
  left: 10px;
  background-image: url(https://res.cloudinary.com/domktwtar/image/upload/v1704305866/LOGOS/logo-white_uiu6sl.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 30rem;
  height: 8rem;
  margin-top: 1rem;
  z-index: 111;
}


.top-right-button {
  top: 10px;
  right: 10px;
}

.bottom-left-button {
  bottom: 10px;
  left: 10px;
}

.bottom-right-button {
  bottom: 10px;
  right: 10px;
}

.flecha-container {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.flecha {
  border-radius: 50%;

}

.fixed {
  position: fixed;
  z-index: 111;
}


.mitad {
  position: fixed;
  top: 0;
  background-image: url(https://res.cloudinary.com/domktwtar/image/upload/v1704305865/LOGOS/logo-mitad-white_nbvspl.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 30rem;  
  left: 3rem;
  height: 8rem;
  margin-top: 1rem;
  z-index: 111;
}

.navbar-mobile {
  display: none;
}

.nav3 {
  position: fixed;
  top: 0;
  z-index: 9999999999;
  display: none;
  color: white !important;
  mix-blend-mode: difference !important;
}


@media (max-width: 1050px) {
  .nav3 {
    display: inherit;
  }

  .project-bottom-right-button,
  .project-top-right-button {
    font-size: 2.7rem;
  }


  .bottom-left-button,
  .bottom-right-button,
  .top-right-button {
    display: none;
  }

  .navbar-mobile {
    display: inherit;
  }

}



@media (max-width: 450px) {

  .top-left-button {
    width: 20rem !important;
  }
}