.top-left-button,
.top-right-button,
.bottom-left-button,
.bottom-right-button {
  position: absolute;
  font-size: 16;
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 111;
  // transition: top 0.3s ease; /* Agrega una transición suave de 0.3 segundos a la propiedad top */

}

.top-left-button, .nav-black {
  left: 10px;
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
  height: 8rem;
  width: 90rem;
  margin-left: 1rem;
  margin-top: 1rem;
  transition: height 0.5s ease; /* Agrega una transición de 0.3 segundos con función de temporización ease al height */
  z-index: 111;
}

.nav-black{
  background-image: url(images/logo-black.png);
  width: 35rem;
}

.top-right-button {
  top: 10px;
  right: 10px;
}

.bottom-left-button {
  bottom: 10px;
  left: 10px;
}

.bottom-right-button {
  bottom: 10px;
  right: 10px;
}

.flecha-container {
  position: absolute;
  bottom: 1.5rem;
  /* Ajusta la distancia desde la parte inferior */
  left: 50%;
  /* La mitad del ancho del contenedor, para centrarlo horizontalmente */
  transform: translateX(-50%);
  /* Centra el contenedor horizontalmente */
  z-index: 1;
}

/* Estilos para la imagen personalizada */
.flecha {
  border-radius: 50%;
  /* Si quieres que la imagen sea redonda */
}

.fixed{
  position: fixed;
  z-index: 111;
}


.mitad, .mitad-black {
  position: fixed;
  top: 0;
  background-position: center top;
  height: 4rem;
  margin-top: 0;
  background-image: url(images/logo-mitad-white.png);
  transition: height 0.5s ease; /* Agrega una transición de 0.3 segundos con función de temporización ease al height */
  z-index: 11;

}

.mitad-black{
  background-image: url(images/logo-mitad-black.png);
  z-index: 11;
}


